body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.carousel-item img {
  width: 100vw;
  /* 화면 너비 */
  height: 70vh;
  /* 화면 높이의 70% */
  object-fit: cover;
  /* 비율 유지하며 요소 채움 */
  object-position: center;
  /*이미지 중앙 정렬*/
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 15%;
}


.text-content button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


.text-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

.text-content p {
  font-size: 1.2rem;
  margin: 10px 0 20px 0;
}

.text-content button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-content button:hover {
  background-color: grey;
}


/*가운데 버튼*/
.custom_btn {
  background-color: #333331;
  border: #333331 1px solid;
  height: 4.5rem;
  width: 14rem;
  font-size: 0.5 rem;
  margin:1.5rem;
}

.interview_image{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/*가운데 인터뷰*/


.interview_custom{
  background-color: black;
  color: white;
  border: black  solid;
  padding-left: 10rem;
  aspect-ratio: 16/9
  
}


.interview_custom_btn{
  background-color: white;
  color: black;
  margin-bottom: 3rem;
  width: 10rem;

}

.interview_custom_btn:hover{
  background-color: grey;
  margin-top:1.5rem;
}